{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">

    </form>
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            {tp:menu menu="add"  url="add:user_id=$Request.param.user_id"/}
             <a href="javascript:;" onclick="saveNum()" class="btn btn-primary radius mr-5"><i class="Hui-iconfont">&#xe632;</i> 保存餐数</a>
        </span>
        <span class="r pt-5 pr-5">
            共有数据 ：<strong>{$count ?? '0'}</strong> 条
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox"></th>
            <th width="">ID</th>
            <th width="">会员</th>
            <th width="">餐型</th>
            <th width="">剩余餐数</th>
            <th width="">已用餐数</th>
            <th width="">创建时间</th>
            <th width="">重置</th>
            <th width="">编辑</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
            <td>{$vo.id}</td>
            <td>{$vo.user_id|get_user_name}</td>
            <td>{$vo.goods_type_id|get_goods_type}</td>
            <td>
                <input title="编辑，后点击保存" type="text" name="rest_num[{$vo.id}]" value="{$vo.rest_num}" style="width: 120px;"
                       class="input-text text-c goods-input" data-id="{$vo.id}">
                <a href="javascript:;" onclick="sendNum('{$vo.goods_type_id}')" class="btn btn-primary radius mr-5"><i class="Hui-iconfont">&#xe632;</i> 生成订单</a>
            </td>
            <td>{$vo.use_num}</td>
            <td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
			<td>
			<a href="javascript:;" onclick="saveNumber('{$vo.id}')" class="btn btn-primary radius mr-5"><i class="Hui-iconfont">&#xe632;</i> 重置餐数</a>
            <td>{tp:menu menu='sdelete' /}</td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
{/block}
{block name="script"}
<script>
    var user_id = "{$Request.param.user_id}"
    var sendNum = function(type){
        layer.prompt({title: '输入需要生成订单的餐数', formType: 0}, function(pass, index){
           if( Number(pass)  < 1 || isNaN(pass)){
               layer.msg('餐宿必须大于1')
           }
            else{
               $.ajax({
                   url:"{:url('test')}",
                   type:"post",
                   data:{
                       user_id: user_id,
                       type: type,
                       num: pass,

                   },
                   //async: false,
                   success:function(re){
                       console.log(re)
                       if(re.code == 200){
                           layer.msg(re.msg);
                           window.location.reload()
                       }
                       else{
                           layer.msg(re.msg);
                       }
                   }
               });
           }
        })
    }
    $(function () {
        $("[name='user_id']").find("[value='{$Request.param.user_id}']").attr("selected", true);
    })
	
	function saveNumber(id){
	
		$.ajax({
		   url:"{:url('saveNumber')}",
		   type:"get",
		   data:{
			   id: id,
		   },
		   //async: false,
		   success:function(re){
			   console.log(re)
			   if(re.code == 200){
				   layer.msg(re.msg);
				   window.location.reload()
			   }
			   else{
				   layer.msg(re.msg);
			   }
		   }
	   });
	
	}
</script>
{/block}

